<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="css/myStyle.css">    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
   
    <script src="./js/jquery-1.11.2.min.js"></script>
    <script src="./js/velocity.min.js"></script>
    <!-- <script src="./js/importers.js"></script> -->

<!--     <link href = "css/myStyle.scss" rel = "stylesheet">
 -->    <link rel="shortcut icon" href="/img/burrdy.ico">


    
    <title>Burrd</title>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"> Home </a>
              
                <!-- <a class="navbar-brand topnav" href="/help">About</a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a href="/help">About</a>
                    </li>
                    <li>
                        <a href="/FAQ">FAQ</a>
                    </li>

                    <li>
                        <a href="/suggestion">Suggestions</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class = "team-section">
        <div class = "section-wrap" > 
            <div class="section-title">Who we are.
<!-- think about a cool autofill thing -->
            </div>
            <div class ="members">
                <div class ="member">
                    <img src="/img/burrdy_purp.png" alt="adam"/>
                    <!-- <div class="member-name">Adam Dorwort</div> -->
                    <!-- <div class="member-title">Software</div> -->
                </div>
                <div class ="member">
                    <img src="/img/a9.png" alt="adam"/>
                    <div class="member-name">Andrew Walters</div>
                    <div class="member-title">Project Manager</div>
                </div>
                 <div class ="member">
                    <img src="/img/burd_rev.png" alt="adam"/>
                    <!-- <div class="member-name">Adam Dorwort</div> -->
                    <!-- <div class="member-title">Software</div> -->
                </div>
            </div>
            <div class ="members">
                <div class ="member">
                    <img src="/img/a3.png" alt="adam"/>
                    <div class="member-name">Adam Dorwort</div>
                    <div class="member-title">Software Architect</div>
                </div>
                 <div class ="member">
                    <img src="/img/trent_cute.gif" alt="adam"/>
                    <div class="member-name">Trent Robison</div>
                    <div class="member-title">Software Development Lead</div>
                </div><div class ="member">
                    <img src="/img/a4.png" alt="adam"/>
                    <div class="member-name">Soham Jatakia</div>
                    <div class="member-title">Software Development Lead</div>
                </div>
                <div class ="member">
                    <img src="/img/a1.png" alt="adam"/>
                    <div class="member-name">Chloe Lopez</div>
                    <div class="member-title">User Interface Specialist</div>
                </div>
                 <div class ="member">
                    <img src="/img/a2.png" alt="adam"/>
                    <div class="member-name">David Liberman</div>
                    <div class="member-title">Business and Systems Specialist</div>
                </div><div class ="member">
                    <img src="/img/a7.png" alt="adam"/>
                    <div class="member-name">Sherman Cheung</div>
                    <div class="member-title">Algorthims Specialist</div>
                </div>
                <div class ="member">
                    <img src="/img/a5.png" alt="adam"/>
                    <div class="member-name">Anjali Patel</div>
                    <div class="member-title">QA Specialist</div>
                </div>
                 <div class ="member">
                    <img src="/img/a10.png" alt="adam"/>
                    <div class="member-name">Brenton Ang</div>
                    <div class="member-title">Database Specialist</div>
                </div><div class ="member">
                    <img src="/img/a6.png" alt="adam"/>
                    <div class="member-name">Xu(Ken) Wu</div>
                    <div class="member-title">Database Specialist</div>
                </div>

        </div>
    </div>


    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
