<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meego Technology | Laptop Theft Deterrent">
    <meta name="author" content="Jesse Qin">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <meta name=viewport content="width=device-width, initial-scale=.8, minimum-scale = .8, user-scalable=yes">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="./js/jquery-1.11.2.min.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/importers.js"></script>
    <title>The Meego Team</title>
</head>

<body>
    <script type="text/javascript">loadNav()</script>

    <div class="team-section">
        <div class="section-wrap">
            <div class="section-title">The Team</div>
            <div class="members">
                <div class="member">
                    <img src="./assets/delara.png" alt="delara">
                    <div class="member-name">Delara Fadavi</div>
                    <div class="member-title">Chief Executive Officer</div>
                </div>
                <div class="member">
                    <img src="./assets/katya.png" alt="katya">
                    <div class="member-name">Katya Grishina</div>
                    <div class="member-title">Chief Marketing Officer</div>
                </div>
                <div class="member">
                    <img src="./assets/ian.png" alt="ian">
                    <div class="member-name">Ian McNair</div>
                    <div class="member-title">Design Engineer</div>
                </div>
                <div class="member">
                    <img src="./assets/sammie.png" alt="sammie">
                    <div class="member-name">Sammie Wang</div>
                    <div class="member-title">Hardware Engineer</div>
                </div>
                <div class="member">
                    <img src="./assets/oscar.png" alt="oscar">
                    <div class="member-name">Oscar Guerrero</div>
                    <div class="member-title">Software Engineer</div>
                </div>
                <div class="member">
                    <img src="./assets/jesse.png" alt="jesse">
                    <div class="member-name">Jesse Qin</div>
                    <div class="member-title">Web/Graphic Designer</div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">loadFooter()</script>
    <script src="./js/logo.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>
